@using CD.Models
@model CD.Models.Cd

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h2>Cd</h2>
    <hr/>
    <dl class="">
        <dt class="">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Artist!.Name)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Lending == null)
    {
        <p>CD is Currently Availeble</p>
        <form asp-action="Lend">
            <input type="hidden" name="cdId" value="@(Model.Id)">
            <div class="form-group">
                <select name="userId" asp-items="ViewBag.Users"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="lend"/>
            </div>
        </form>
    }
    else
    {
        <p>CD is lent to @(Model.Lending.User?.Name) since @(@Model.Lending.TimeStamp.ToString("yyyy-MM-dd HH:mm:ss"))</p>
    }
</div>
<div class="navigation">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>