@using CD.Models
@using Microsoft.VisualBasic
@model CD.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @if (Model.Lendings == null || Model.Lendings.Count == 0)
    {
        <p>No CDs are borrowed</p>
    }
    else
    {
        <table>
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Lendings[0].Cd.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Lendings[0].TimeStamp)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var lending in Model.Lendings)
            {
                <tr>
                    <td>@(lending.Cd?.Title)</td>
                    <td>@(lending.TimeStamp.ToString("yyyy-MM-dd HH:mm:dd"))</td>
                    <td><a asp-controller="User" asp-action="Return" asp-route-id="@(lending.CdId)">Return</a></td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>