@using CD.Models
@using Microsoft.VisualBasic
@model CD.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h2>User</h2>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <h3>Borrowed Cds</h3>
    <hr/>
    @if (Model.Lendings == null || Model.Lendings.Count == 0)
    {
        <p class="top-margin">No CDs are borrowed</p>
    }
    else
    {
        <table>
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Lendings[0].Cd.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Lendings[0].TimeStamp)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var lending in Model.Lendings)
            {
                <tr>
                    <td data-label="@(Html.DisplayNameFor(item => item.Lendings[0].Cd.Title))">
                        @(lending.Cd?.Title)
                    </td>
                    <td data-label="@(Html.DisplayNameFor(item => item.Lendings[0].TimeStamp))">
                        @(lending.TimeStamp.ToString("yyyy-MM-dd HH:mm:dd"))
                    </td>
                    <td>
                        <div class="navigation">
                            <a asp-controller="User" asp-action="Return" asp-route-id="@(lending.CdId)">Return</a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
<div class="navigation">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>